[submodule "library/support/web-socket-js"]
	path = library/support/web-socket-js
	url = git://github.com/simb/web-socket-js.git
[submodule "support/web-socket-js"]
	path = support/web-socket-js
	url = git://github.com/simb/web-socket-js.git
